html, body { height: 90%; padding: 0; margin: 0; }
/* button{
    width: 50%; height: 50%; float: left;
} */
#answer1{
    background-color: #40B297;
}
#answer2{
    background-color: #E64E2C;
}
#answer3{
    background-color: #A3ACD6;
}
#answer4{
    background-color: #D494C0;
}

#buttons{
    text-align: center;
}
#nameText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
}
#scoreText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
}
#message{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
}